* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
}



.trybewarts-login {
  display: flex;
}

.trybewarts-login input {
  border-radius: 10px;
  border: 0;
  box-sizing: border-box;
  margin-right: 10px;
}

.trybewarts-header-logo {
  width: 70px;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
}

main {
  display: flex;
}

#trybewarts-forms-logo {
  height: 500px;
}

.nameLastName {
  display: flex;
}

.emailHouse {
  display: flex;
}
