* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

.trybewarts-login {
  display: flex;
}

.trybewarts-login input {
  border-radius: 10px;
  border: 0;
  box-sizing: border-box;
}

.trybewarts-header-logo {
  width: 70px;
}